---
import Layout from '@/layouts/Layout.astro';
import CardProfileComponent from '@/components/CardProfileComponent.astro';
---

<Layout title='Frontend Mentor | Profile card component'>
	<main class='h-lvh w-full bg-dark-cyan flex justify-center items-center relative px-7 md:px-0'>
		<div class='bg-pattern-top bg-left bg-contain h-full w-full left-0 -top-96 max-w-5xl absolute bg-no-repeat'></div>
		<CardProfileComponent />
		<div class='bg-pattern-bottom bg-right bg-contain h-full w-full right-0 -bottom-[30rem] max-w-5xl absolute bg-no-repeat'></div>
	</main>
</Layout>
