---
const { amount, description } = Astro.props;
---

<div class='flex flex-col items-center'>
	<h5 class='font-bold text-lg'>{amount}</h5>
	<span class='text-xs text-gray-400 font-bold'>{description}</span>
</div>
